<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/header.css">

</head>

<%- include('_header'); %>

<main id="layout-main">
    <%- body %>
</main>

</html>